body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lavender;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    padding: 0;
}

#about {
    padding: 20px;
    text-align: center;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#skills {
    padding: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    padding: 5px;
}

#projects {
    padding: 20px;
}

#projects .project {
    margin-bottom: 20px;
}

#projects img {
    width: 100;
}